body {

	font-family: 'Oxygen', sans-serif;
	background-image: url("cat.jpg");
	background-size: cover;
	color: white;
}

.jumbotron {

	background-color: #00bfff;
	margin-top: 20px;
	padding-top: 20px;
}

a {

	color: green;
}

.questionBox {

	background-color: #00bfff;
	margin: 20px 0 20px 0;
	padding: 20px;
}

input {

	width: 50%;
}

button, input, select, textarea {

	color: black;
}

.btnStyle {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.modal-content {

	color: black;
}